@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

h1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-color: #F7DC6F;
}
.head_container{
    background-color: #26899E;
    height: 170px;
    color: white;
}
